@tailwind base;
@tailwind components;
@tailwind utilities;


#root, body, html{
    width: 100vw;
    min-height: 100%;
    margin: 0;
}


#root{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

